{% extends 'my_expenses/Base.html' %}
{% load static %}
{% block list_display %}  
    <div class="container">
        {% for expense in all_expenses %}
            <div class="card p-3 m-3">
                <div style="float: left;;">
                    <a href="{% static expense.attachment.url %}" target="_blank"><img src="{% static expense.attachment.url %}" alt="Receipt" style="max-height:100px"></a>
                </div>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ expense.expense_name }}</td>
                            <td>{{ expense.description }}</td>
                            <td>{{ expense.category }}</td>
                            <td>{{ expense.total }}</td>
                        </tr>
                    </tbody>
                </table>
                <form action="{% url 'exp:expense_edit' expense.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Update expense">
                </form>     
                <form action="{% url 'exp:expense_delete' expense.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete expense">
                </form> 
            </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>